@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<div class="container"> 
    <div class="row">
        <div class=" col">

            <p>Use this page to datail your site´s privacy polite.</p>
        </div>
    </div>
</div>


